

{% load static from staticfiles%}

{% block content %}
<center><h1>BoxPlots</h1></center>
    <div class="gallery">
       {% for img in l1 %}
               <!-- <img src={{img}} alt="scatter" width="300" height="200" class="pointer"> -->
                <div class="img-w"><img src={{img}} alt="" /></div>
        {% endfor %}
    </div>

<center><h1>DistPlots</h1></center>
    <div class="gallery">
       {% for img in l2 %}
               <!-- <img src={{img}} alt="scatter" width="300" height="200" class="pointer"> -->
                <div class="img-w"><img src={{img}} alt="" /></div>
        {% endfor %}
    </div>

<center><h1>ScatterPlots</h1></center>
    <div class="gallery">
       {% for img in l3 %}
               <!-- <img src={{img}} alt="scatter" width="300" height="200" class="pointer"> -->
                <div class="img-w"><img src={{img}} alt="" /></div>
        {% endfor %}
    </div>
{% endblock %}

<head>
  <meta charset="UTF-8">
  <title>Plots gallery </title>



      <link rel="stylesheet" href="/static/css/style.css">


</head>


<body>

  <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script> -->
    <script src='/static/js/jquery.min.js'></script>

    <script src="/static/js/index.js"></script>
<link rel="stylesheet" href="/static/css/styleBTN.css"><br>
<center><a href="{% url 'download' %}"  class="buttonDownload">Download PDF</a></center>
</body>

